body{
    background-size: cover; 
    background-repeat: no-repeat; 
    /* height: 100vh;
    animation: mymove 5s infinite; */
    background-color: #DFDFDF;

}

.Contenedor{
    background-color: rgb(255, 255, 255);
    padding-bottom: 1.5rem;
    border-radius: 0.5rem;
    text-align: center;
    height: 30rem;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.555);
}


/* @keyframes mymove {
    0% {
      background-color: #8EB25A;
    }
    25% {
      background-color: #C7D9AD;
    }
    50% {
      background-color: #C7D9AD;
    }
    100% {
      background-color: #8EB25A;
    }
} */

h1{
    padding-top: 1.5rem;
    color: #8EB25A;
}

.dato{
    background-color: transparent;
    color:#494949;
    display: block;
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    /* color: #495057; */
    /* background-color: #fff; */
    background-clip: padding-box;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid #494949;
    /* border-radius: .25rem; */
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

/*COLORES*/
.dato:focus {
    outline: none !important;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid #494949;
  }


/*COLORES*/
::placeholder{
    color:#494949;
}

.dato:focus::placeholder {
    color: #8EB25A;
}


.btn_login{
    background-color: #8EB25A;
    color: rgb(255, 255, 255);
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;

}

.btn_login:hover{
    background-color: #8EB25A;
    color:white;
    filter: brightness(1.2);
    box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.555);
}

a{
    color: #50692c;
}
a:hover{
    color: #50692c;
    filter:brightness(1.5);
    text-shadow: 1px 1px 1px rgba(148, 255, 145, 0.555);
}